[Unit]
Description=DNS Updater for a GoDaddy domain

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/python3 /usr/local/bin/dnsupdater.py >> /usr/local/bin/dnsupdater.log 2>&1
Restart=always

[Install]
WantedBy=multi-user.target

